#!name = Tachimanga Premium 破解
#!desc = 偽造 info/fetch Premium 購買狀態，解鎖會員功能
#!author = Minis
#!homepage = https://github.com/r666bc/minis-qx
#!icon = https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/7f/63/a3/7f63a3b4-f988-4e35-8e2d-e0188e631600/AppIcon-0-0-1x_U007epad-0-1-0-85-220.png/512x512bb.jpg
#!tag = Tachimanga, Premium, Unlock

[rewrite_local]
^https:\/\/api3\.tachimanga\.app\/api\/info\/fetch url script-response-body tachimanga_premium.js

[mitm]
hostname = api3.tachimanga.app, *.tachimanga.app
